
/*font-family: Abel*/
@font-face {
    font-family: Abel;
    src: url('../fonts/Abel/Abel-Regular.ttf');
}

/*font-family: Anton*/
@font-face {
    font-family: Anton;
    src: url('../fonts/Anton/Anton-Regular.ttf');
}

/*font-family: Josefin_Sans*/
@font-face {
    font-family: Josefin;
    src: url('../fonts/Josefin_Sans/JosefinSans-Regular.ttf');
}

/*font-family: Livivic*/
@font-face {
    font-family: Livivic;
    src: url('../fonts/Livvic/Livvic-Regular.ttf');
}

/*font-family: Lexend*/
@font-face {
    font-family: Lexend;
    src: url('../fonts/Lexend_Deca/LexendDeca-Regular.ttf');
}


